
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}




button{
    font-size: 25px;
    background-color: black;
    color: white;
    border-radius: 20px;
    text-align: center;
    justify-content: center;

}